 <div class="toolbar">
   <button [disabled]="!(isInitialized && flex?.selectedItems)" (click)="setUserActiveStatus(flex, true)">Set as active</button>
   <button [disabled]="!(isInitialized && flex?.selectedItems)" (click)="setUserActiveStatus(flex, false)">Set as Inactive</button>
   Show inactive <input type="checkbox" [(ngModel)]="showActive" (change)="toggleShowActive()" />
 </div>

 <div *ngIf="users$ | async as users">
   <wj-flex-grid
    #flex
    [itemsSource]="users"
    [selectionMode]="'ListBox'"
    [showAlternatingRows]="true"
    (loadedRows)="flexLoadedRows(flex)"
    (initialized)="flexInitialized(flex)"
    >
    <wj-flex-grid-filter></wj-flex-grid-filter>
   </wj-flex-grid>
 </div>
